version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: unless-stopped

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: unless-stopped

  server:
    build: .
    container_name: lmgate-server
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - redis
    restart: unless-stopped
